@model BibliotecaUtad.Models.Book

<form id="Edit" asp-action="Edit" style="width: 100%;">
    <div class="row" style="margin: 50px 100px;">
        <div class="col-md-4" style="width: 300px; text-align: right; margin-right: 50px;">
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" style="padding: 5px 20px; font-size: 15px; font-family: 'Segoe UI'; background-color: #001733; color: white; font-weight: bold; border-radius: 10px; width: 100px; height: 40px; border: 1px solid black; margin-bottom: 20px;" />
            </div>
            <button type="button" onclick="location.href='@Url.Action("Index")'" style="padding: 5px 20px; font-size: 15px; font-family: 'Segoe UI'; background-color: #de0d1d; color: white; font-weight: bold; border-radius: 10px; width: 100px; height: 40px; border: 1px solid black;">Voltar</button>
        </div>
        <div class="col-md-4" style="width: 470px;">
            <div id="imagePreview" style="width: 420px; height: 595px; border: 1px solid #cccccc; background-image: url('/images/covers/@Model.CoverImage'); background-size: cover; background-position: center center;"></div>
            <div class="form-group">
                <label asp-for="CoverImage" class="control-label" style="display: none;"></label>
                <input type="hidden" asp-for="CoverImage" />
                <span asp-validation-for="CoverImage" class="text-danger"></span>
            </div>

        </div>
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ISBN" />
            <div class="form-group">
                <label asp-for="Title" class="control-label">Título</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label">Autor</label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Editor" class="control-label">Editora</label>
                <input asp-for="Editor" class="form-control" />
                <span asp-validation-for="Editor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderId" class="control-label">Género</label>
                <select asp-for="GenderId" class="form-control" asp-items="ViewBag.GenderId" id="GenderId">
                    <option value="">Selecione um gênero</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="SubGenderId" class="control-label">Subgénero</label>
                <select asp-for="SubGenderId" class="form-control" asp-items="ViewBag.SubGenderId" id="SubGenderId">
                    <option value="">Selecione um subgênero</option>
                </select>
            </div>
            <div class="form-group" style="display: flex; justify-content: space-between; gap: 10px;">
                <div style="flex: 0 0 35%; max-width: 35%;">
                    <label asp-for="N_Copies" class="control-label">Nº cópias adquiridas</label>
                    <input asp-for="N_Copies" class="form-control" />
                    <span asp-validation-for="N_Copies" class="text-danger"></span>
                </div>
                <div style="flex: 0 0 60%; max-width: 60%;">
                    <label asp-for="LaunchDate" class="control-label">Data de Lançamento</label>
                    <input asp-for="LaunchDate" class="form-control" type="month" />
                    <span asp-validation-for="LaunchDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Summary" class="control-label">Sínopse</label>
                <textarea asp-for="Summary" class="form-control" rows="5" maxlength="1000" style="height: 220px; resize: none;"></textarea>
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        $(document).ready(function () {
            $('#GenderId').change(function () {
                var genderId = $(this).val();
                $.getJSON('@Url.Action("GetSubgenders", "Books")', { genderId: genderId }, function (data) {
                    var subgenderSelect = $('#SubGenderId');
                    subgenderSelect.empty();
                    subgenderSelect.append($('<option>').text('Selecione um subgênero').attr('value', ''));
                    $.each(data, function (i, subgender) {
                        subgenderSelect.append($('<option>').text(subgender.subGenderName).attr('value', subgender.subGenderId));
                    });
                });
            });

            $('#coverImageInput').change(function () {
                var input = this;
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
                        $('#imagePreview').css('background-size', 'cover');
                        $('#imagePreview').css('background-position', 'center center');
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            });

            $('#createForm').submit(function (event) {
                var genderId = $('#GenderId').val();
                var subGenderId = $('#SubGenderId').val();
                if (!genderId || !subGenderId) {
                    alert('Por favor, selecione um gênero e um subgênero válidos.');
                    event.preventDefault();
                }
            });
        });
    </script>
}
